#adults {
    background-image: url('../img/us.jpg');

    font-family: 'oswald';
    src: url(fonts/oswald-bold.ttf);
    margin: 0;
    padding: 0;
    width: 1200px;
    height: 620px;
    color: white;
}

#adults h2{
    font-size: 80px;
}
#adults h4 {
    font-family: 'oswald';
    src: url('fonts/oswald-SemiBold.ttf');
font-size: 40px;
margin-left: 5%
}

#crecer{
    margin-left: 28%;
    margin-top: 320px;
}

#adults h4 h2 {
    display: flex;
    flex-direction: column;

    align-items: flex-end;
}

.historia {
    font-family: 'oswald';
    src: url('fonts/oswald-SemiBold.ttf');
    text-align: center;
    margin-top: 50px;
margin-bottom: 50px;
}
.historia p{
	 font-family: 'oswald';
    src: url('fonts/oswald-ExtraLight.ttf');
}
#icon {
    background-color: black;
   height: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    border-radius: 5%
}

#icon figure img{
width: 100px;
}

figcaption{
	text-align: center;
}

.title {
	font-family: 'oswald';
    src: url('fonts/oswald-Medium.ttf');
	margin-top: 20px;
    background-color: black;
    color: white;
    text-align: center;

}

.title h2{
	font-size: 50px;
}

.espacio h2{
	font-family: 'oswald';
    src: url('fonts/oswald-SemiBold.ttf');
    font-size: 50px;
}

.espacio p{
	font-family: 'oswald';
    src: url('fonts/oswald-Medium.ttf');
    margin-right: 40px;
}

.espacio{
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 80px;
}